<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Resim</th>
      <th scope="col">İsim</th>
      <th scope="col">fiyat</th>
      <th scope="col">özellikler</th>
      <th scope="col">rezervasyon</th> 
      
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let machine of machines">

      <th class="align-middle" scope="row">{{machine.id}}</th>
      <td><img
        [src]="machine.imageUrl"
        alt="Resim"
        [style.max-width.px]="100" 
        [style.max-height.px]="100" 
      > </td>
      <td class="align-middle">{{machine.name}}</td>
      <td class="align-middle">{{machine.price}}</td>
      <td class="align-middle">
        <button [cModalToggle]="featuresModal.id"  cButton color="dark" (click)="onUpdate(machine)">özellikler</button>
      </td>
      <td class="align-middle">
        <button  cButton color="primary" (click) = "changeRoute(machine)">Rezervasyon yap</button>
      </td>
    </tr>
   

  </tbody>
</table>

<c-modal #featuresModal  alignment="center"backdrop="static" alignment="center" id="featuresModal" class="modal-dialog-centered modal-lg">
  <c-modal-header>
    <h5 cModalTitle>Özellikler</h5>
    <button [cModalToggle]="featuresModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p>{{ machine?.features }}</p>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="featuresModal.id" cButton color="secondary">
      kapat
    </button>
  </c-modal-footer>
</c-modal>