<div class="image-container">
  <img cImg rounded src="assets/img/brand/KqVxBVFXZe.png" height="100" />
</div>
<div class="seven">
  <h2>Rezervasyon Sistemi</h2>
</div>

<c-carousel> 
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        alt="{{slide.title}}"
        class="d-block w-100"
        loading="lazy"
        src="{{slide.src}}"
        style="width: 300px; height: 600px;"       
      />
      <c-carousel-caption class="d-none d-md-block">
        <h3>{{slide.title}}</h3>
        <p>{{slide.subtitle}}</p>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>

<div class="three">
  <h2>Kullanılabilir cihazlarımız</h2>
</div>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Resim</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="data:image/jpeg;base64,INSERT_BASE64_ENCODED_IMAGE_HERE" alt="Resim"></td> 
      
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><img src="data:image/jpeg;base64,INSERT_BASE64_ENCODED_IMAGE_HERE" alt="Resim"></td> 
      
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>

    <tr>
      <th scope="row">3</th>
      <td><img src="data:image/jpeg;base64,INSERT_BASE64_ENCODED_IMAGE_HERE" alt="Resim"></td> 
      
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>

    </tr>
  </tbody>
</table>

