<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <label for="UserName" class="form-label">Adı</label>
        <input
          #UserName
          id="UserName"
          type="text"
          formControlName="UserName"
          class="form-control"
          [value]="user.name"
          aria-describedby="passwordHelpBlock"
        />
      </div>
  
      <div class="col-md-6">
        <label for="UserSurname" class="form-label">SoyAdı</label>
        <input
          #UserSurname
          id="UserSurname"
          type="text"
          formControlName="UserSurname"
          class="form-control"
          [value]="user.surname"
          aria-describedby="passwordHelpBlock"
        />
      </div>
    </div>
  
    <div class="mb-4"></div>
  
    <div class="row">
      <div class="col-md-6">
        <label for="UserEmail" class="form-label">Eposta</label>
        <input
          #UserEmail
          id="UserEmail"
          type="text"
          formControlName="UserEmail"
          class="form-control"
          [value]="user.email"
          aria-describedby="passwordHelpBlock"
        />
      </div>
  
      <div class="col-md-6">
        <label for="UserPassword" class="form-label">Şifre</label>
        <input
          #UserPassword
          id="UserPassword"
          type="text"
          formControlName="UserPassword"
          class="form-control"
          [value]="user.password"
          aria-describedby="passwordHelpBlock"
        />
      </div>
    </div>
  
    <div class="mb-4"></div>
  
    <div class="row">
      <div class="col-md-6">
        <label for="UserTelephone" class="form-label">Telefon</label>
        <input
          #UserTelephone
          id="UserTelephone"
          type="text"
          formControlName="UserTelephone"
          class="form-control"
          [value]="user.telephone"
          aria-describedby="passwordHelpBlock"
        />
      </div>
  
      <div class="col-md-6">
        <label for="UserUserType" class="form-label">Kayıt tipi</label>
        <input
          #UserUserType
          id="UserUserType"
          type="text"
          formControlName="UserUserType"
          class="form-control"
          [value]="user.userType"
          aria-describedby="passwordHelpBlock"
        />
      </div>
    </div>
  
    <div class="mb-4"></div>
  
    <div class="row">
      <div class="col-md-6">
        <label for="UserCompanyMail" class="form-label">Şirket epostası</label>
        <input
          #UserCompanyMail
          id="UserCompanyMail"
          type="text"
          formControlName="UserCompanyMail"
          class="form-control"
          [value]="user.companyMail"
          aria-describedby="passwordHelpBlock"
        />
      </div>
  
      <div class="col-md-6">
        <label for="UserPersonalAddress" class="form-label">Kişisel Adres</label>
        <input
          #UserPersonalAddress
          id="UserPersonalAddress"
          type="text"
          formControlName="UserPersonalAddress"
          class="form-control"
          [value]="user.personalAddress"
          aria-describedby="passwordHelpBlock"
        />
      </div>
    </div>
  
    <div class="mb-4"></div>
  
    <!-- Güncelle düğmesi -->
    <div class="row">
      <div class="col-md-6">
        <button cButton color="success" (click)="update()">Güncelle</button>
      </div>
    </div>
  </div>