.custom-button {
    background-color: #0098b2 !important;
    border-color: #0098b2 !important;
    color: #fff !important;
  }
  
  .custom-button:hover {
    background-color: #007a8c !important;
    border-color: #007a8c !important;
    color: #fff !important;
  }

