<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Başvuru yapan</th>
        <th scope="col">Başlangıç zamanı</th>
        <th scope="col">Bitiş zamanı</th>
        <th scope="col">ıncele</th>
        <th scope="col">sil</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservationRequests; let i = index">
        <th class="align-middle" scope="row">{{ reservation.id }}</th>
        <td class="align-middle">{{ reservation.userMail }}</td>
        <td class="align-middle">{{ reservation.startDate | date:'short':'+0300'| date:'dd/MM/yyyy HH:mm' }}</td>
        <td class="align-middle">{{ reservation.endDate | date:'short':'+0300' | date:'dd/MM/yyyy HH:mm' }}</td>
        <td class="align-middle">
          <button class="btn btn-success" (click)="changeRoute(reservation)">incele</button>
        </td>
        <td class="align-middle">
          <button class="btn btn-danger" (click)="delete(reservation)">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>