<div class="d-grid gap-2">
<button cButton color="primary" size="lg" [cModalToggle]="insertModal.id" cButton>Yeni makine ekle</button>
</div>

<table  cTable [responsive]="true" >
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Resim</th>
        <th scope="col">İsim</th>
        <th scope="col">fiyat</th>
        <th scope="col">özellikler</th>
        <th scope="col">güncelle</th> 
        <th scope="col">sil</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let machine of machines">

        <th class="align-middle" scope="row">{{machine.id}}</th>
        <td><img
          [src]="machine.imageUrl"
          alt="Resim"
          [style.max-width.px]="100" 
          [style.max-height.px]="100" 
        > </td>
        <td class="align-middle">{{machine.name}}</td>
        <td class="align-middle">{{machine.price}}</td>
        <td class="align-middle">
          <button [cModalToggle]="featuresModal.id" cButton color="dark" (click)="onUpdate(machine)">Özellikler</button>
        </td>
        <td class="align-middle">
          <button [cModalToggle]="updateModal.id" cButton color="success" (click)="onUpdate(machine)">güncelle</button>
        </td>
        <td class="align-middle">
          <button cButton color="danger" (click)="deleteMachine(machine)">sil</button>
        </td> 
      </tr>
     

    </tbody>
  </table>





<c-modal #insertModal backdrop="static" alignment="center" id="insertModal"  class="modal-dialog-centered modal-lg" >
  <c-modal-header>
    <h5 cModalTitle>Makine Ekle</h5>
    <button [cModalToggle]="insertModal.id" class="btn btn-light" cButtonClose>

    </button>
  </c-modal-header>
  <c-modal-body>

    <label for="MachineName" class="form-label">Makinenin ismi</label>
    <input #MachineName id="MachineName" type="text" formControlName="MachineName" class="form-control" aria-describedby="passwordHelpBlock">
    <div class="mb-4">
      </div>
    <label for="MachinePrice" class="form-label">Makinenin fiyatı</label>
    <input #MachinePrice type="MachinePrice" class="form-control" formControlName="MachinePrice" aria-describedby="passwordHelpBlock">
    <div class="mb-4">
      </div>
    <label for="MachineFeatures" class="form-label">Makinenin özellikleri</label>
    <textarea #MachineFeatures class="form-control" formControlName="MachineFeatures" aria-describedby="passwordHelpBlock" rows="5"></textarea>
    <div id="HelpBlock" class="form-text mb-4">
      Makina için eklemek istediğiniz makina büyüklükleri makina ucu çapı gibi özellikler varsa buraya ekleyebilirsiniz</div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Resim dosyası seçin (jpg, jpeg veya png)</label>
        <input class="form-control" type="file" (change)="onFileSelected($event)" id="formFile" accept=".jpg, .jpeg, .png">
      </div>
      <div class="mb-4">
        </div>


  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="insertModal.id" class="btn btn-dark">
      İptal et
    </button>
    <button (click)="onSubmit()" cButton color="primary" [cModalToggle]="insertModal.id" class="btn btn-primary">Ekle</button>
  </c-modal-footer>
</c-modal>





<c-modal #updateModal alignment="center"backdrop="static" alignment="center" id="updateModal" class="modal-dialog-centered modal-lg">
  <c-modal-header>
    <h5 cModalTitle>Makine özelliklerini güncelle</h5>
    <button [cModalToggle]="updateModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    
    <label for="UMachineName"  class="form-label">Makinenin ismi</label>
   
    <input
    #UMachineName
    id="UMachineName"
    type="text"
    formControlName="UMachineName"
    class="form-control"
    [value]="selectedMachine.name"
    aria-describedby="passwordHelpBlock"
  />

    <div class="mb-4">
      </div>
    <label for="UMachinePrice" class="form-label">Makinenin fiyatı</label>
    <input
    #UMachinePrice
    id="UMachinePrice"
    type="text"
    formControlName="UMachinePrice"
    class="form-control"
    [value]="selectedMachine.price"
    aria-describedby="passwordHelpBlock"
  />
    <div class="mb-4">
      </div>
    <label for="UMachineFeatures" class="form-label">Makinenin özellikleri</label>
    <textarea  #UMachineFeatures
    id="UMachineFeatures"
    type="text"
    formControlName="UMachineFeatures"
    class="form-control"
    [value]="selectedMachine.features"
    aria-describedby="passwordHelpBlock"
    ></textarea>
    <div id="HelpBlock" class="form-text mb-4">
      Makina için eklemek istediğiniz makina büyüklükleri makina ucu çapı gibi özellikler varsa buraya ekleyebilirsiniz</div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Resim dosyası seçin (jpg, jpeg veya png)</label>
        <input class="form-control" type="file" (change)="onFileSelected($event)" id="formFile" accept=".jpg, .jpeg, .png">
      </div>
      <div class="mb-4">
        </div>

    
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="updateModal.id" cButton color="secondary">
      Kapat
    </button>
    <button cButton (click)="update()" [cModalToggle]="updateModal.id" color="primary">Güncelle</button>
  </c-modal-footer>
</c-modal>



<c-modal #featuresModal  alignment="center"backdrop="static" alignment="center" id="featuresModal" class="modal-dialog-centered modal-lg">
  <c-modal-header>
    <h5 cModalTitle>Özellikler</h5>
    <button [cModalToggle]="featuresModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p>{{ selectedMachine?.features }}</p>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="featuresModal.id" cButton color="secondary">
      kapat
    </button>
  </c-modal-footer>
</c-modal>