.btn.btn-primary {
    background-color: #0098B2; /* Arka plan rengi */
    border-color: #0098B2; /* Kenarlık rengi (isteğe bağlı) */
    color: white; /* Yazı rengi */
    transition: background-color 0.3s ease; /* Geçiş efekti ayarı */
  }
  
  .btn.btn-primary:hover {
    background-color: #008099; /* Mouse üzerine gelince rengi karart */
  }

  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-lg {
    margin: -20 auto; /* Modalı yatayda ortalar */
    transform: translateX(-10%); /* Modalı yatayda 10% sola kaydırır */
    
  }
  .d-grid {
    margin-bottom: 10px;
  }

  .table th,
  .table td {
    padding: 5px 10px; /* İstediğiniz yatay ve dikey padding değerlerini ayarlayabilirsiniz */
  }
  
  /* Tablonun taşan içeriği alt satıra inmesini sağlama */
  .table td {
    white-space: normal;
    word-wrap: break-word;
  }

  .table th:nth-child(6),
.table td:nth-child(6),
.table th:nth-child(7),
.table td:nth-child(7) {
  width: 10px; /* İstediğiniz genişliği ayarlayabilirsiniz */
}